.linea-etiqueta{
    height: 2px;
    background-color: rgb(126, 126, 126);
    margin: 0px;
}

.separacionCard{
    margin-top: 3% !important;
}
.spaciadoEtiquetaLetras{
    margin: 0px;
}

.select-formulario{
    width: 50% !important ;
   
    margin-bottom: 1rem;
}

.styleBotton{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    gap: 0.5rem;
}

.sepadadorInferior{
    display: flex;
    gap: 0.3rem;
    margin-top: 1rem;
}
.etiqueta-inactiva {
    background-color: yellow;
  }